.ribbon {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 21px!important;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #3e779d);
    background: -moz-linear-gradient(top, #3e779d, #3e779d);
    background: -ms-linear-gradient(top, #3e779d, #3e779d);
    background: -o-linear-gradient(top, #3e779d, #3e779d);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #3e779d 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
    font-size: 25px!important;
    color: #121880;
    text-shadow: #5f5bd4 0 1px 0;
    margin:1px;
}
/*
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #c23a3a;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    border-color: #871616 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}*/
.ribbon-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}